[Unit]
Description=PiTalkster App Service
After=network.target

[Service]
Restart=always
RestartSec=5
StandardOutput=append:/var/log/piTalkster.log
StandardError=append:/var/log/piTalkster_err.log
SyslogIdentifier=piTalkster
ExecStart=/usr/local/bin/piTalkster_start

[Install]
WantedBy=multi-user.target
