[Unit]
Description=PiTalkster App Service

[Service]
Restart=always
RestartSec=5
StandardOutput=append:/var/log/piTalkster.log
StandardError=append:/var/log/piTalkster_err.log
SyslogIdentifier=piTalkster
ExecStart=/home/pi/PiTalkster/build/rpi/piTalkster

[Install]
WantedBy=multi-user.target
